.requests__item-text {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 33px;
    text-align: center;
    color: var(--font-color-variant-3);
    position: relative;
    z-index: 4;
}

.requests__item:nth-child(2)>.requests__item-text {
    max-width: 235px;
    padding-top: 63px;
    padding-left: 94px;
    padding-right: 14px;
}

.requests__item:nth-child(3)>.requests__item-text {
    max-width: 230px;
    padding-top: 66px;
    padding-left: 90px;
    padding-right: 18px;
}

.requests__item:nth-child(4)>.requests__item-text {
    max-width: 178px;
    padding-top: 87px;
    padding-left: 93px;
    padding-right: 65px;

}

.requests__item:nth-child(5)>.requests__item-text {
    max-width: 237px;
    padding-top: 82px;
    padding-left: 81px;
    padding-right: 22px;

}

.requests__item:nth-child(6)>.requests__item-text {
    max-width: 237px;
    padding-top: 101px;
    padding-left: 100px;
 }