.price__text {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-small-variant2);
    line-height: 29px;
    text-align: center;
    color: var(--font-color-variant-1);
    padding-bottom: 14px;
}

.price-description__text-block:nth-child(1)>.price__text {
    padding-top: 38px;
}

.price-description__text-block:nth-child(3)>.price__text {
    width: 280px;
    position: relative;
    right: 40px;
}

.price__text :last-of-type {
    margin-bottom: 39px;
}