.main-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-image: url('../../images/MainInfoBackground1440.png');
}

@media (max-width: 450px) {
    .main-info {
        background-image: url('../../images/MainInfoBackground445.png');
    }
}