.main-info__container {
    width: var(--main-info-container-width);
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {
    .main-info__container {
        align-items: center;
    }
}