.question__text {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 127.69%;
    color: var(--font-color-variant-1);
    margin-bottom: 32px;
}


@media (max-width: 768px) {
    .question__text {
        margin-bottom: 20px;
    }
}


@media (max-width: 610px) {
    .question__text {
        margin-bottom: 15px;
    }
}

@media (max-width: 425px) {
    .question__content:nth-of-type(1)>.question__block>.question__text {
        max-width: 237px;
    }

    .question__text {
        margin-bottom: 10px;
    }


    .question__content:nth-of-type(2)>.question__block>.question__text {
        max-width: 286px;
    }

    .question__content:nth-of-type(3)>.question__block>.question__text {
        max-width: 275px;
    }

}

@media (max-width: 340px) {
    .question__content:nth-of-type(1)>.question__block>.question__text {
        max-width: 220px;
    }

    .question__content:nth-of-type(2)>.question__block>.question__text {
        max-width: 206px;
    }

    .question__content:nth-of-type(3)>.question__block>.question__text {
        max-width: 196px;
    }

}