.question__text {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 127.69%;
    color: var(--font-color-variant-1);
    margin-bottom: 32px;
}

