.peculiarities__item-title {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 127.69%;
    text-align: left;
    color: var(--font-color-variant-3);
    padding-top: 80px;
    margin-bottom: 40px;
}

.peculiarities__item:nth-child(1)>.peculiarities__text-container>.peculiarities__item-title {
    margin-bottom: 10px;
}