.differences__title {
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-block);
    line-height: 127.69%;
    text-align: center;
    color: var(--font-color-variant-1);
    padding-top: 78px;
    max-width: 735px;
    margin-bottom: 123px;

}