.price__text_sum {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large-extra);
    line-height: 42px;
    text-align: center;
    color: #C82657;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .price__text_sum {
        line-height: 35px;
    }
}


@media (max-width: 425px) {
    .price__text_sum {
        margin-bottom: 3px;
    }
}

@media (max-width: 340px) {
    .price__text_sum {
        line-height: 29px;
    }

}