.main-info__subtitle {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-extra-small-variant-3);
    line-height: 23px;
    color: #DE2F64;
    margin-left: 26px;
    padding-top: 10px;
    padding-bottom: 7px;
}

@media (max-width: 1024px) {
    .main-info__subtitle {
        margin-left: 12px;
    }
}

@media (max-width: 768px) {
    .main-info__subtitle {
        padding-top: 7px;
        padding-bottom: 5px;
        line-height: 16px;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .main-info__subtitle {
        padding-top: 6px;
        padding-bottom: 5px;
        line-height: 15px;
        padding-right: 0;
    }
}