:root {
    /* размеры шрфтов  */
    --font-size-main-title: 3.5625rem;
    --font-size-title-block: 2.1875rem;
    --font-size-extra-small-variant-1: 1.375rem;
    --font-size-extra-small-variant-2: 1.4375rem;
    --font-size-extra-small-variant-3: 1.25rem;
    --font-size-small: 1.5rem;
    --font-size-small-variant-2: 1.5625rem;
    --font-size-medium: 1.75rem;
    --font-size-extra-medium: 1.875rem;
    --font-size-large: 2.0625rem;
    --font-size-large-extra: 2.25rem;
    --font-size-standard: 1rem;
    /*семество шрифтов*/
    --font-family-title: 'Archivo Narrow', arial;
    --font-family-standart-variant-1: 'Open Sans';
    --font-family-standart-variant-2: 'Roboto';
    /* жирность шрифта  */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    /*цвета шрифтов*/
    --font-color-variant-1: #252525;
    --font-color-variant-2: #FFFFFF;
    --font-color-variant-3: #000000;
    --font-color-variant-4: #323232;
    --font-color-variant-5: #497960;
    --font-color-variant-6: #767676;
    --font-color-variant-7: #FFFEFE;
    --font-color-variant-8: #352217;
    --font-color-variant-9: #262626;


    /*цвета фона, кнопок, элементов*/
    --theme-color-variant-1: #FFFFFF;
    --theme-color-variant-2: #9DD3A8;
    --theme-color-variant-3: #4B7B62;
    --theme-color-variant-4: #F9F9F9;
    --theme-color-variant-5: #FBFAFA;

    /* кнопки */
    --button-large-font-size: 1.4375rem;
    --button-small-font-size: 1.3125rem;
    --button-small-width: 319px;
    --button-large-width: 341px;
    --button-small-height: 61px;
    --button-large-height: 65px;

    /* размеры  */
    --main-info-container-width: 1023px;
    --header-container-width: 1023px;
    --main-info-content-width: 580px;
    --main-info-description-width: 498px;
    --requests-container-width: 1060px;
    --requests-item-width: 340px;
    --requests-item-height: 189px;
    --differences-container-widht: 1096px;
    --differences-list-container-widht: 527px;
    --peculiarities-container-width: 920px;
    --peculiarities-item-width: 916px;
    --peculiarities-item-height: 317px;
    --price-container-width: 460px;
    --price-description-container-width: 444px;
    --price-description-content-width: 442px;
}


@media (max-width: 1100px) {
    :root {
        --differences-container-widht: 1020px;
        --differences-list-container-widht: 490px;
    }

    .differences__item-text {
        --font-size-small-variant-2: 1.45rem;
    }
}

@media (max-width: 1200px) {
    :root {
        --main-info-container-width: 80%;
        --header-container-width: 80%;
        --requests-item-width: 320px;
        --requests-item-height: 160px;
        --requests-container-width: 1020px;
    }

}

@media (max-width: 1024px) {
    :root {
        --font-size-main-title: 3.125rem;
        --font-size-extra-small-variant-3: 1.0625rem;
        --main-info-content-width: 510px;
        --button-large-width: 277px;
        --button-large-height: 52px;
        --button-large-font-size: 1.25rem;
        --main-info-container-width: 80%;
        --requests-container-width: 840px;
        --font-size-title-block: 2.0625rem;
        --font-size-extra-medium: 1.75rem;
        --requests-item-width: 262px;
        --requests-item-height: 142px;
        --differences-container-widht: 850px;
        --differences-list-container-widht: 413px;
        --peculiarities-container-width: 850px;
        --peculiarities-item-width: 835px;
        --peculiarities-item-height: 290px;
    }

    .main-info__desctiption {
        --font-size-small-variant-2: 1.3125rem;
        --main-info-description-width: 418px;
    }

    .requests__item-text {
        --font-size-medium: 1.4375rem;
    }

    .differences__list-title {
        --font-size-large: 1.75rem;
    }

    .differences__item-text {
        --font-size-small-variant-2: 1.3125rem;
    }

    .peculiarities__item-title {
        --font-size-medium: 1.625rem;
    }

    .peculiarities__item-description {
        --font-size-extra-small-variant-1: 1.1875rem;
    }


}

@media (max-width: 950px) {
    :root {
        --main-info-container-width: 90%;
        --main-info-content-width: 450px;
        --font-size-main-title: 2.7rem;
    }
}

@media (max-width: 850px) {
    :root {
        --requests-container-width: 760px;
        --font-size-extra-medium: 1.45rem;
        --requests-item-width: 230px;
        --requests-item-height: 116px;
        --differences-container-widht: 750px;
        --differences-list-container-widht: 360px;
    }

    .requests__item-text {
        --font-size-medium: 1.2rem;
    }

    .differences__item-text {
        --font-size-small-variant-2: 1.1rem;
    }

}

@media (max-width: 835px) {
    :root {
        --peculiarities-item-width: 760px;
    }

}

@media (max-width: 768px) {
    :root {
        --main-info-container-width: 80%;
        --font-size-main-title: 2.1875rem;
        --font-size-extra-small-variant-3: 0.875rem;
        --main-info-content-width: 360px;
        --button-large-width: 209.21px;
        --button-large-height: 39px;
        --button-large-font-size: 1.0625rem;
        --font-size-title-block: 1.875rem;
        --requests-container-width: 647px;
        --font-size-extra-medium: 1.5625rem;
        --requests-item-width: 202px;
        --requests-item-height: 112px;

        --differences-container-widht: 635px;
        --differences-list-container-widht: 314px;

        --peculiarities-container-width: 100%;
        --peculiarities-item-width: 630px;
        --peculiarities-item-height: 210px;

        --button-small-width: 283px;
        --button-small-height: 54px;

        --price-description-container-width: 390px;
        --price-description-content-width: 388px;
        --price-container-width: 407px;
        --button-small-font-size: 1.25rem;

    }

    .main-info__desctiption {
        --font-size-small-variant-2: 1.0625rem;
        --main-info-description-width: 100%;
    }

    .requests__item-text {
        --font-size-medium: 1.0625rem;
    }

    .differences__list-title {
        --font-size-large: 1.5625rem;
    }

    .differences__item-text {
        --font-size-small-variant-2: 1.0625rem;
    }

    .peculiarities__item-label {
        --font-size-large-extra: 1.75rem;
    }

    .peculiarities__item-title {
        --font-size-medium: 1.3125rem;
    }

    .peculiarities__item-description {
        --font-size-extra-small-variant-1: 0.9375rem;
    }

    .price__text {
        --font-size-small-variant-2: 1.375rem;
    }

    .price__text_sum {
        --font-size-large-extra: 1.875rem;
    }

}

@media (max-width: 660px) {
    :root {
        --main-info-container-width: 90%;
        --font-size-main-title: 2.04rem;
        --main-info-content-width: 340px;
        --requests-container-width: 440px;
    }

    .main-info__desctiption {
        --font-size-small-variant-2: 1rem;
        --main-info-description-width: 100%;
    }
}

@media (max-width: 635px) {
    :root {
        --differences-container-widht: 90%;
        --peculiarities-item-width: 450px;
    }

    .peculiarities__item-label {
        --font-size-large-extra: 1.1875rem;
    }

    .peculiarities__item-title {
        --font-size-medium: 1.1rem;
    }

    .peculiarities__item-description {
        --font-size-extra-small-variant-1: 0.875rem;
    }
}



@media (max-width: 570px) {
    :root {
        --main-info-container-width: 98%;
        --font-size-main-title: 1.9rem;
        --main-info-content-width: 310px;
    }

    .main-info__desctiption {
        --font-size-small-variant-2: 0.9rem;
        --main-info-description-width: 300px;

    }
}

@media (max-width: 450px) {
    :root {
        --main-info-container-width: 100%;
        --font-size-main-title: 2.0625rem;
        --main-info-content-width: 340px;
        --font-size-extra-small-variant-3: 0.8125rem;
        --button-large-width: 255.21px;
        --button-large-height: 45px;
        --button-large-font-size: 1.0625rem;
        --peculiarities-item-width: 390px;
    }

    .main-info__desctiption {
        --font-size-small-variant-2: 1.0625rem;
        --main-info-description-width: 346px;
    }

    .peculiarities__item-label {
        --font-size-large-extra: 1.4375rem;
    }

}

@media (max-width: 425px) {
    :root {
        --font-size-main-title: 2.0625rem;
        --font-size-title-block: 1.8125rem;
        --requests-container-width: 395px;
        --requests-item-width: 192px;
        --requests-item-height: 128px;
        --font-size-extra-medium: 1.4375rem;
        --differences-container-widht: 344px;

        --button-small-width: 237px;
        --button-small-height: 45px;

        --price-description-container-width: 327px;
        --price-description-content-width: 325px;
        --price-container-width: 337px;
        --button-small-font-size: 1.1875rem;
    }

    .requests__item-text {
        --font-size-medium: 1rem;
    }

    .peculiarities__item-title {
        --font-size-medium: 1.125rem;
    }

    .price__text {
        --font-size-small-variant-2: 1.1875rem;
    }

    .price__text_sum {
        --font-size-large-extra: 1.6875rem;
    }

}

@media (max-width: 400px) {
    :root {
        --requests-container-width: 340px;
        --requests-item-width: 149px;
        --requests-item-height: 99px;
        --font-size-extra-medium: 1.25rem;
    }

    .requests__item-text {
        --font-size-medium: 0.875rem;
    }

    .requests__title {
        --font-size-title-block: 1.625rem;
    }

}

@media (max-width: 390px) {
    :root {
        --peculiarities-item-width: 330px;
    }

    .peculiarities__item-title {
        --font-size-medium: 1rem;
    }

    .peculiarities__item-description {
        --font-size-extra-small-variant-1: 0.8125rem;
    }
}

@media (max-width: 360px) {
    :root {
        --font-size-main-title: 1.875rem;
        --button-large-width: 228.21px;
        --button-large-height: 40px;
        --differences-container-widht: 100%;
        --differences-list-container-widht: 293px;
    }

    .main-info__desctiption {
        --font-size-small-variant-2: 1rem;
    }

    .differences__list-title {
        --font-size-large: 1.375rem;
    }

    .differences__item-text {
        --font-size-small-variant-2: 1rem;
    }

    .differences__title {
        --font-size-title-block: 1.6875rem;

    }
}

@media (max-width: 340px) {
    :root {
        --price-description-container-width: 282px;
        --price-description-content-width: 279px;
        --price-container-width: 100%;
        --button-small-width: 204px;
        --button-small-height: 39px;
        --button-small-font-size: 1.0625rem;
    }

    .price__text {
        --font-size-small-variant-2: 1.0625rem;
    }

    .price__text_sum {
        --font-size-large-extra: 1.5625rem;
    }
}