.header__container {
    width: 1023px;
    display: flex;
    justify-content: space-between;
    height: 115px;
    position: relative;
    z-index: 50;
}

/* .header__container::before {
    position: absolute;
    content: '';
    width: 279.57px;
    height: 644.16px;
    background: radial-gradient(50% 50% at 50% 50%, #E8E8E8 0%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(2px);
    top: -250px;
    transform: rotate(89.27deg);
    z-index: -10;
} */