.header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: inherit;
}

@media (max-width:1024px) {
    .header__content {
        left: 100vw;
        position: relative;
    }
}