.header__burger {
    display: none;
    position: relative;
    right: auto;
}

@media (max-width:1024px) {
    .header__burger {
        display: block;

        width: 34px;
        height: 24px;
        top: 28px;
        /* left: 100%; */
    }

    .header__burger::before,
    .header__burger::after {
        width: 34px;
        height: 4px;
        position: absolute;
        content: '';
        background-color: black;
        /* margin-left: auto; */
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger>span {
        width: 34px;
        height: 4px;
        top: 10px;
        position: absolute;
        background-color: black;
    }

}

@media (max-width: 768px) {
    .header__burger {
        top: 18px;
        height: 20px;
    }

    .header__burger::before,
    .header__burger::after,
    .header__burger>span {
        width: 23px;
        height: 4px;
    }

    .header__burger>span {
        top: 8px;
    }
}

@media (max-width:450px) {
    .header__burger {
        top: 40px;

    }
}

@media (max-width:425px) {
    .header__burger {
        width: 25px;
        height: 20px;
        top: 22px;
    }

    .header__burger::before,
    .header__burger::after {
        width: 25px;
        height: 4px;
    }

    .header__burger>span {
        width: 25px;
        height: 4px;
        top: 8px;
    }
}
