.nav-bar__link {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-standard);
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--font-color-variant-1);
    text-decoration: none;
}